:root {
  --nav-color: hsl(30, 30%, 35%); /* global scope */
	--nav-color-darker: hsl(30, 30%, 27%)
}

/* Provides a smooth scrolling animation when user clicks on navigation buttons */
html {
	scroll-behavior: smooth;
}

/* Sets font and removes body margin */
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	background-color: hsl(0, 0%, 20%);
	color: white;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* ================
NAVIGATION BAR 
================ */

/* Places navbar on top of the page and takes up the entire width of the screen */
nav {
	position: absolute;
	width: 100%;
	background-color: var(--nav-color);
}

/* Places the logo on the left side of the navbar  */
#logo {
	float: left;
	margin: 3.5px;
	padding: 3.5px;
	height: 5ch;
}

/* Makes sure that other elements don't overlap with the navbar */
#buffer {
	position: relative;
	height: 53px;
	z-index: -1; /* Makes sure the div does not interfere with navigation */
}

/* ================
DEFAULT NAVBAR
================ */

.nav_menu a {
	float: right; /* Places navigation menu on the right side of the screen */
	color: white;
	padding: 1rem 1rem;
	text-decoration: none; /* Removes underline when not hovered on */
  transition: background-color 0.3s; /* Adds color transition on user hover */
	height: 25px;
}

/* Darkens a navigation button on hover */
.nav_menu a:hover {
	background-color: var(--nav-color-darker); 
	text-decoration: underline;
}

/* ================
SMALL NAVBAR (HAMBURGER BUTTON)
================ */

#nav_small_container {
	display: none; /* Hamburger Button is hidden by default. Media Queries are used to show it when necessary. */
}

#hamburger_button {
	float: right; /* Places hamburger button on the right side of the navbar */
	background-color: var(--nav-color);
	border: none; /* Removes a weird black border */
	cursor: pointer; /* Signals to the user that the hamburger button is clickable */
}

/* Places mini navigation menu close to the hamburger button, but not touching it */
#nav_small {
	display: none; /* Hides hamburger navigation menu on page load. Javascript is used to show the navigation menu on hamburger button click. */
	background-color: var(--nav-color);
	position: absolute;
	top: 8ch;
	right: 1ch;
}

/* Determines when the standard navigation bar turns into a hamburger button */
@media (max-width: 1400px) {

	#nav_default {
		display: none;
		width: 0;
	}

	#nav_small_container {
		display: block;
	}

}

/* ================
HEADER
================ */

header {
	text-align: center;
	color: #FFD800;
	font-size: 2em;
}

@media (max-width: 500px) {
	header {
		font-size: 1em;
	}
}

/* ================
SECTIONS
================ */

section {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto 3ch; /* Horizontal margin of 3ch */
}

section p {
	max-width: 75ch;
}

section h1 {
	margin-bottom: 0;
}

/* ================
FOOTER
================ */

footer {
	background-color: #835828;
	padding: 0.2em;
	text-align: center;
	margin-top: auto;
}

#title_footer {
	font-size: 1.5em;
}

.footer_text {
	margin-bottom: 1.5em;
}

.footer_text a:link, .footer_text a:visited {
	color: hsl(0, 0%, 90%);
	text-decoration: none;
}

.footer_text a:hover {
	color: hsl(0, 0%, 90%);
	text-decoration: underline;
}