.topics_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topic {
	margin: 1.25em; /* Makes topic images not touch each other */
	margin-bottom: 3.25em;
}

h2 {
	font-weight: 600; /* Makes h2 bold but not too bold */
}

.topic p {
	margin-bottom: 3.5ch; /* Provides space between topic description and button */
	max-width: 45ch;
}

.topic a {
	background-color: hsl(0, 55%, 60%);
	color: white;
	padding: 1em;
	transition: background-color 0.3s; /* Adds color transition on user hover */
	text-decoration: none; /* Removes underline when not hovered on */
}

/* Changes the button style when hovered */
.topic a:hover {
	background-color: hsl(0, 45%, 55%);
	text-decoration: underline;
}

/* If screen width is larger than 500px, then the preview image and topic information will be next to each other instead of on top of each other. */
@media (min-width: 600px) {

	.topic {
		margin-bottom: 1.25em;
	}

	.topic-image-left {
		display: flex;
		align-items: center;
		gap: 1.5em;
	}

	.topic-image-right {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: 1.5em;
		text-align: right;
	}

}

footer {
	margin-top: 1em;
}