@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), /* Adds a semi-transparent black overlay on top of background*/
										url("assets/images/gallery.png");
	background-position: center;
}

nav {
	display: flex;
	align-items: center; /* Vertically aligns elements */
	justify-content: space-between; /* Puts logo on left and nav links on the right */
	background-color: hsl(0, 0%, 35%);
	padding: 1ch;
}

#logo {
	height: 3em; 
	margin: 1ch;
	margin-bottom: 0;
	transition: transform 0.5s ease-in-out;
}

#logo:hover {
	transform: scale(1.2); /* Makes logo expand when hovered */
}

.nav_link {
	color: white;
	text-decoration: none; /* Removes underline when text not hovered */
	font-weight: 600; /* Makes text bold */
	margin: 1ch;
}

.nav_link:hover {
	text-decoration: underline; /* Underlines link when hovered */
}

form {
	background-color: hsla(0, 0%, 10%, 0.85);
	padding: 10px 15px;
	margin: 1.75em;
	max-width: 750px;
	color: hsl(0, 0%, 100%);

	/* Centers the form */
  margin-left: auto;
  margin-right: auto;
}

h1 {
	margin-top: 0.75rem;
}

label {
	display: block; /* Places labels above the input fields rather than next to it */
	margin-top: 1rem; /* Space out the room between input fields */
}

input {
	width: 100%;
	padding: 1.5ch 1ch;
	box-sizing: border-box;
	background-color: hsla(0, 0%, 10%, 0.85);
	border: 2px solid grey;
	color: white;
}

.first_label {
	margin-top: 0;
}

button {
	border: none;
	padding: 1em;
	border-radius: 5px;
	cursor: pointer;
	background-color: hsl(200, 100%, 50%);
	color: white;
	margin-top: 1.5em;
	margin-bottom: 1em;
	width: 100%;
	font-size: 1em;
	transition: background 0.5s;
}

button:hover {
	background-color: hsl(200, 100%, 40%);
}

.asterisk {
	color: red;
}

#do_passwords_match {
	height: 1ch;
	margin: 0;
}

#login_help_container {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
}

.login_help {
	font-weight: 600;
	color: white;
}

.login_help:hover {
	text-decoration: none;
	cursor: pointer;
}

#return_to_login {
	text-align: center;
	margin-top: 1em;
}

#return_to_login a {
	color: white;
	font-weight: 600;
}

#return_to_login a:hover {
	text-decoration: none;
}