html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

section {
    position: relative; 
    top: 5.25em;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2.25rem;
}

p {
    font-size: 1.1em;
}

/* Header Start */

nav {
	position: fixed;
	width: 100%;
	background-color: hsl(30, 50%, 55%);
	height: auto;
    z-index: 1;
}

.nav a {
	float: right;
	color: white;
	text-align: center;
	padding: 1rem 1rem;
	text-decoration: none;
	font-size: 17px;
    transition: background-color 0.3s;
}

.nav a:hover {
	background-color: hsl(30, 50%, 45%);
	text-decoration: underline;
}

.logo {
	position: fixed;
	background-color: hsl(30, 50%, 55%);
	margin: 0.1rem;
}

/* Home Start */

#id_picture {
    border: 1ch solid #434343;
    float: left;
}

.home_container {
    position: relative;
    left: 2em;
}

.home_container h1 {
    font-size: 2.5em;
}

.home_container p {
    font-size: 1.2em;
}

#home {
    flex-direction: row;
}

/* About Me Start */

#about_me {
    margin-top: 1.5em;
    text-align: center;
}

/* My Education Start */

#my_education {
    margin-top: 1.5em;
}

#my_education p {
    text-align: center;
}

/* Projects Start */

.project_img {
    height: 25em;
    margin: auto;
}

.project_p {
    margin-bottom: 2.5em;
    max-width: 60ch;
}

.button {
    text-decoration: none;
    background-color: hsl(20, 50%, 55%);
    color: white;
    padding: 0.8em 1.3em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: hsl(15, 50%, 50%);
	text-decoration: underline;
}

.project_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.project_container:not(:last-child) {
    margin-bottom: 3em;
}

.project_container {
    max-width: 100rem;
}

h2 {
    margin-bottom: 2rem;
}

@media (max-width: 900px) {
    .project_container {
        display: inline;
    }
}

/* Contact Info. Start */

#contact_info {
	flex-direction: column;
    margin: 2em auto 8em auto;
}

/* Footer Start */

footer {
    background-color: #835828;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
    text-align: center;
    color: white;
    width: 100%;
}

#title_footer {
    font-size: 1.45em;
}

.footer_text a:link, .footer_text a:visited {
    color: hsl(0, 0%, 90%);
    text-decoration: none;
}

.footer_text a:hover {
    color: hsl(0, 0%, 90%);
    text-decoration: underline;
}

/* About My Maps Start */

#about_maps p {
    text-align: center;
    max-width: 200ch;
}

/* Gallery Start */

.map {
    height: 20em;
    border: 0.8ch solid black;
    margin: 1ch;
}

#map_grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

#gallery {
    margin-bottom: 10em;
}

#gallery h1 {
    margin-bottom: 0;
}

@media (max-width: 1500px) {
    #map_grid {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    #map_grid {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}